.card-content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  min-height: 50px;
}

.card-content-rating-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  min-width: 65px;
}

.card-content-wrapper {
  display: inline-block;
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: auto;
}
