.navbar {
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
