.circular-progress-wrapper {
  display: flex;
  justify-content: center;
}

.slide-to-reload-info-message {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
