$primary-color: #374151;
$primary-color-light: #b0b9c9;
$secondary-color: #eed9cc;
$secondary-color-light: #fdf0e4;

html body {
  width: auto !important;
}

body {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  overflow: scroll;
  overscroll-behavior: none;
}

// div.avatar {
//   background-color: $primary-color;
// }

// .divider{
//   margin-top: "2px";
//   margin-bottom: "3px";
//   background-color: $secondary-color-light
// }

hr.MuiDivider-root {
  margin-top: 2px;
  margin-bottom: 3px;
  background-color: $primary-color;
}

.skeleton-wrapper {
  background-color: white;
  margin-bottom: 8px;
}

.coffee-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  text-align: center;
  padding: 1px;
}

.MuiCard-root {
  border: 1px solid $primary-color-light;
}

.coffee {
  width: 100%;
}

.navbar {
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circular-progress-wrapper {
  display: flex;
  justify-content: center;
}

.circular-progress {
  color: $primary-color-light;
}

.navbar-left {
  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center;
}

.icon-left {
  margin-left: 10px;
}

.icon-right {
  margin-right: 10px;
}

.error {
  color: red;
}

.card-content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  min-height: 50px;
}

.card-content-rating-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  min-width: 65px;
}

.card-content-wrapper {
  display: inline-block;
  background-color: $primary-color-light;
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
}

div.MuiCardContent-root:last-child {
  padding-bottom: 10px;
  padding-top: 10px;
}

div.card-content {
  padding-bottom: 0px;
  padding-top: 10px;
}

button.add-rating-button {
  color: $primary-color;
  border-color: $primary-color;
  margin-left: 3px;
}

@media screen and (max-width: 600px) {
  .coffee-wrapper {
    padding: 0px;
  }

  .board-wrapper {
    background-color: $primary-color-light;
    padding-bottom: 2px;
  }

  .MuiCard-root {
    border: 0px solid $secondary-color-light;
  }

  body {
    margin: 0px;
  }
}

.pull-indicator {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-lighter);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}

.pull-indicator i {
  transition: transform 0.2s ease-in-out;
}

.pull-indicator.flip i {
  transform: rotate(180deg);
}
